<!DOCTYPE html>
<html>
    <head>
        <style>
body {
  background-image: url("./img/Weather.jpg");
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-size: cover;
}
</style>
        <title>Help</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
        <body> 
           <div class="main-content">
                {{>header}}
                <p>Help</p>
            </div>
            {{>footer}}
        </body>
</html>
